*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
}

.container .menu-toggle {
    display: none;
    cursor: pointer;
}

.container .navBar{
    position: fixed;
    height: 100%;
    padding: 15px;
    left: -300px;
    background-color: rgb(10, 197, 119);
    transition: 200ms linear;
}

.container .menu-toggle {
    display: block;
    left: 10px;
    top: 10px;
    background-color: rgb(10, 197, 119);
}

.sidebar {
    position: fixed;
    padding-left: 10px;
    padding-top: 10px;
    width: 260px;
    height: 100%;
    background-color: rgb(36, 177, 111);
    transition: 200ms linear;
}

.sidebar .logo {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.sidebar .logo a {
    text-decoration: none;
    color: black;
}

.sidebar .logo .closeMenu {
    /* display: none; */
    margin: 1em 1em;
    font-size: larger;
    cursor: pointer;
}

.sidebar .menu {
    margin-top: 3rem;
}

.sidebar .menu a {
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1.5rem;
    gap: 1rem;
    transition: all 300ms ease;
}

.sidebar .menu a.active {
    background-color: rgb(255, 255, 255);
    padding: 15px 9px;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    margin-left: 1rem;
}

.sidebar .menu a:hover {
    margin-left: 1.5rem;
    background-color: rgb(255, 255, 255);
    padding: 15px 9px;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
}

.content {
    position: relative;
    display: grid;
    margin-left: 296px;
    margin-right: 30px;
    top: 80px;
    background-color: rgb(36, 177, 111);
    padding: 2rem;
    border-radius: 0.8rem;
}

.content .title {
    font-size: 2rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.content table {
    padding: 1rem 1rem;
    /* border: 2px solid #000; */
    border-radius: 0.8rem;
    background-color: #cecece;
}

.content table thread tr {
    text-align: center;
}

.content table tbody tr {
    text-align: center;
}

.content table tbody tr a {
    text-decoration: none;
    background-color: rgb(10, 197, 119);
    padding: 7px;
    border-radius: .8rem;
    font-weight: 650;
    color: #000;
    transition: all 300ms ease;
}

.content table tbody tr a:hover {
    background-color: #00ff9d;
}

.content table tbody .select {
    background-color: #00ff9d;
    height: 2rem;
    border-radius: .8em;
    font-weight: 600;
}

.content table tbody .select option {
    font-weight: 500;
}

@media (max-width: 768px) {
    .sidebar{
        position: fixed;
        padding-left: 10px;
        padding-top: 10px;
        width: 260px;
        height: 100%;
        background-color: rgb(36, 177, 111);
        transition: 200ms linear;
        left: -300px;
    }


    .content {
        padding: 1.2rem;
        margin-left: 76px;
        margin-right: 30px;
    }

    .container .navBar{
        position: fixed;
        height: 100%;
        padding: 15px;
        left: 0;
        background-color: rgb(10, 197, 119);
    }

    .container .menu-toggle {
        display: block;
        left: 10px;
        top: 10px;
        background-color: rgb(10, 197, 119);
    }

    .sidebar .activate{
        left: 0;
    }
    
}



































