* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.upgrade-account-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.upgrade-account {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border: 2px solid;
}

.upgrade-account h1 {
  padding: 20px;
  border-bottom: 2px solid;
}

.upgrade-account form {
  padding: 10px 90px;
}

.upgrade-account form select {
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.upgrade-account form #category {
  float: left;
  margin-right: 30px;
}

.upgrade-account form #specific-service {
  float: right;
}

.upgrade-account textarea {
  display: block;
  width: 95%;
  height: 20vh;
  resize: none;
  padding: 2%;
  margin-bottom: 20px;
}

.upgrade-account input {
  width: 150px;
  padding: 10px 0;
  text-align: center;
  margin: 0 25px 50px 25px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: black;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
