.tours{
    margin-top: -45%;
}
.content-col{
    width: 50%;
    padding: 50px;
    color: white; 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}
.image-col{
    width: 50%;
}
.tours .row .col{
    width: 60%;
}
.tours .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}
.image-gallery img{
    max-width:300px;
    height: 200px;
    margin: 10px;
    margin-right: 30px;
}
.content-col h1{
    font-size: 7vmin;
    color: #484872;
    margin-left: 50px;
}
.content-col .line{
    margin-left: 70px;
}
.content-col p{
    color: #484872;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 30px;
}
.content-col .ctn{
    margin-left: 50px;
}